@use './components/common/button.module.scss';
@use './components/common/input.module.scss';
@use 'common.scss';

* {
	margin: 0;
	padding: 0;
}

html {
	background-color: common.$white;
	overflow: hidden;

	color: black;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	a {
		font-weight: 500;
		color: #646cff;
		text-decoration: inherit;
		&:hover {
			color: #535bf2;
		}
	}

	input {
		@include input.text;
	}

	button {
		@include button.button;
	}
}
